@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

:root {
  --basic-title: #000000;
  --basic-text: #283136;
  --header-background: #EEEEEE;
  --footer-contacts: #666666;
  --modal-text: #444444;
  --basic-red: #FB565A;
  --basic-button-hover: #E74246;
  --basic-button-pressing: #D7373B;
  --services-app: #00CA74;
  --services-app-hover: #00BC6C;
  --services-app-pressing: #00AA62;
  --services-presentation: #EFC84A;
  --services-presentation-hover: #EAB534;
  --services-presentation-pressing: #E5A722;
  --button-text: #FFFFFF;
  --social-button: #E1E1E1;
  --border-form: #D7DCDE;
  --border-form-hover: #B4B9BB;
  --opacity-button: rgba(255, 255, 255, 0.3);
  --sort-button: #231F20;
  --sort-button-calm: rgba(166, 166, 166, 0.2);
  --sort-button-hover: #A6A6A6;
  --catalog-button-hover: #DFDFDF;
  --catalog-button-pressing: #D5D5D5;
  --catalog-button-pressing-text: rgba(0, 0, 0, 0.3);
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/* navigation */

.main-header {
  background-color: var(--header-background);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 50px;
}

.main-navigation {
  display: grid;
  grid-template-columns: auto 1fr min-content;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  width: 160px;
  margin-right: 202px;
  max-height: 66px;
}

.main-header-logo:hover {
  opacity: 0.3;
}

.user-nav a {
  display: block;
}

.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 16px 0 0 0;
  width: 437px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.user-nav {
  max-width: 115px;
  margin-left: 85px;
  padding-top: 16px;
}

.user-nav .cart {
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a, .cart {
  color: var(--basic-title);
}

.site-navigation a:hover, .cart:hover {
  color: var(--basic-red);
}

.site-navigation a:active, .cart:active {
  color: var(--basic-title);
  opacity: 0.3;
}

.navigation-selected {
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 13px;
}

.navigation-selected:active, .navigation-selected:hover {
  border-bottom: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* features */

.features-wraper {
  background-color: var(--header-background);
  margin-bottom: 80px;
}

.features {
  position: relative;
}

.features-slider {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-slider li {
  box-sizing: border-box;
  min-height: 431px;
}

.slide-content {
  width: 540px;
}

.slide-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-title);
  padding-top: 78px;
  margin: 0 0 26px 0;
}

.slide-info {
  margin-bottom: 40px;
  line-height: 24px;
}

.features-slider .slider-button {
  padding: 16px 54px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.feature-slide-1 {
  background: url(../img/index-slide1.png) no-repeat;
  background-position: center right;
}

.feature-slide-2 {
  background: url(../img/index-slide2.png) no-repeat;
  background-position: center right;
}

.feature-slide-3 {
  background: url(../img/index-slide3.png) no-repeat;
  background-position: center right;
}

.switch-slider {
  position: absolute;
  bottom: 97px;
  left: 546px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.switch-slider .current::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.switch-slider button {
  position: relative;
  padding: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--button-text);
  border: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--button-text);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.button:hover {
  background-color: var(--basic-button-hover);
}

.button:active {
  color: var(--opacity-button);
  background-color: var(--basic-button-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
}

/* services */

.services {
  border-bottom: 2px solid var(--header-background);
  min-height: 427px;
  margin-bottom: 40px;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 70px;
  padding: 0px;
  column-gap: 100px;
  width: 300px;
}

.services-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-title);
  margin-bottom: 0;
}

.services-list p {
  margin-bottom: 34px;
}

.services-list li {
  background-size: 300px 146px;
  padding-top: 146px;
  width: 300px;
}

.button-services {
  padding: 15px 40px;
}

.services-item-web {
  background: url(../img/website.png) no-repeat;
}

.services-item-apps {
  background: url(../img/apps.png) no-repeat;
}

.services-item-presentation {
  background: url(../img/presentation.png) no-repeat;
}

.button-app {
  background-color: var(--services-app-pressing);
}

.button-app:hover {
  background-color: var(--services-app);
}

.button-app:active {
  background-color: var(--services-app-pressing);
}

.button-presentation {
  background-color: var(--services-presentation);
}

.button-presentation:hover {
  background-color: var(--services-presentation-hover);
}

.button-presentation:active {
  background-color: var(--services-presentation-pressing);
}

/* description */

.description {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 80px;
  border-bottom: 2px solid var(--header-background);
  margin-bottom: 30px;
}

.about {
  width: 655px;
  margin-bottom: 49px;
}

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;
  color: var(--basic-title);
  margin-top: 32px;
  margin-bottom: 32px;
}

.about-text {
  margin-bottom: 40px;
}

.description-list-title {
  margin-bottom: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.description-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.description-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.description-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.stats {
  margin-left: auto;
  width: 360px;
}

.stats-logo {
  margin-bottom: 13px;
}

.description-table-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-title);
  margin-bottom: 30px;
}

.description-table {
  width: 374px;
  border-collapse: collapse;
  text-align: left;
  vertical-align: middle;
}

.description-table tr {
  height: 56px;
}

.table-value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-title);
}

.table-value span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.table-title th {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.table-value td, .table-title th {
  padding-right: 21px;
}

/* partners */

.partners {
  padding-top: 15px;
  padding-bottom: 45px;
  border-bottom: 2px solid var(--header-background);
  margin-bottom: 80px;
}

.partners-list {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.partner-item:nth-child(1) {
  padding-top: 13px;
}

.partner-item:nth-child(4) {
  padding-top: 5px;
}

.partner-item {
  position: relative;
}

.partner-link {
  opacity: 0.2;
  display: flex;
  justify-content: center;
}

.partner-item:not(:nth-child(4n))::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: var(--header-background);
}

.partner-link:hover {
  opacity: 1;
}

.partner-link:active, .partner-link:active {
  opacity: 0.1;
}

/* catalog page */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto auto;
  column-gap: 140px;
  align-content: start;
}

.page-title {
  background-color: var(--header-background);
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-title);
  margin: 0px;
  padding: 50px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  grid-column: 2/ -1;
}

.sort-container p {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-title);
}

.sort-selector-list {
  width: 360px;
  display: grid;
  grid-template-columns: 1fr 44px;
  justify-content: space-between;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sort-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-title);
  opacity: 0.3;
  padding-right: 26px;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active, .sort-item-select {
  opacity: 1;
}

.sort-button-wraper {
  display: flex;
  justify-content: space-between;
}

.sort-button {
  color: var(--sort-button-calm);
}

.sort-button:hover {
  color: var(--sort-button-hover);
}

.sort-button:active, .sort-button-select {
  color: var(--sort-button);
}

.filters {
  grid-row: 1/-1;
  width: 260px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-title);
  margin-bottom: 20px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 19px;
}

.filter input {
  background: var(--header-background);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filter-button {
  background-color: var(--header-background);
  color: var(--basic-title);
  width: 100%;
}

.filter-button:hover {
  background-color: var(--catalog-button-hover);
}

.filter-button:active {
  background-color: var(--catalog-button-pressing);
  color: var(--catalog-button-pressing-text);
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.catalog-list img {
  height: 578px;
  width: 378px;
  background-color: var(--border-form-hover);
}

.catalog-item {
  width: 360px;
  min-height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-title);
}

.catalog-item-title:hover {
  color: var(--basic-red);
}

.catalog-item-title:active {
  color: var(--basic-title);
  opacity: 0.3;
}

.button-price {
  color: var(--button-text);
  background-color: var(--basic-red);
  outline: none;
  border: none;
  border-radius: 3px;
}

.button-price:active {
  background-color: var(--basic-button-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-price:hover {
  background-color: var(--basic-button-hover);
}

.catalog-item-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-contacts);
}

.pagination-list {
  list-style: none;
  color: var(--basic-title);
  font-weight: 500;
  line-height: 18px;
}

.pagination-item a {
  background-color: var(--header-background);
  color: var(--basic-title);
  border: none;
  border-radius: 3px;
}

.pagination-item-select a {
  background-color: var(--button-text);
  border: 3px solid #DBDBDB;
}

.pagination-item a:hover {
  background-color: var(--catalog-button-hover);
}

.pagination-item a:active {
  background-color: var(--catalog-button-pressing);
  color: var(--catalog-button-pressing-text);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* footer */

.map-wrap {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 416px;
}

.footer-map {
  display: block;
  background-color: var(--header-background);
  width: 1440px;
  height: 416px;
}

.map-marker {
  position: absolute;
  bottom: 140px;
  left: 822px;
}

.contacts {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--button-text);
  bottom: 54px;
  left: 140px;
  min-height: 308px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 308px;
  min-width: 319px;
}

.contact-tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-title);
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 22px;
}

.contact-text {
  color: var(--footer-contacts);
  line-height: 18px;
  margin-bottom: 18px;
}

.contacts p:nth-child(3) {
  margin-bottom: 38px;
}

.footer-phone {
  color: inherit;
}

.contacts-button {
  padding: 16px 44px;
}

.footer-social {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 130px;
  margin-top: 68px;
  margin-bottom: 70px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background-color: var(--social-button);
  margin-right: 9px;
}

.social-button:hover {
  background-color: var(--basic-button-hover);
}

.social-button:active {
  background-color: var(--basic-button-pressing);
  fill-opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.discount {
  text-align: left;
}

.discount p:first-child {
  color: var(--basic-title);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 7px;
  margin-bottom: 0;
}

.discount p:last-child {
  color: var(--modal-text);
  line-height: 22px;
  margin-top: 10px;
}

/* modal */

.modal-feedback h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.feedback-form p {
  color: var(--basic-title);
  font-weight: bold;
  line-height: 18px
}

.feedback-form input[type="text"], textarea {
  font-weight: normal;
  line-height: 18px;
  color: var(--modal-text);
  border: 2px solid var(--border-form);
  border-radius: 3px;
  opacity: 0.5;
  outline: none;
}

.feedback-form input:hover, textarea:hover {
  border: 2px solid var(--border-form-hover);
}

.feedback-form input:focus, textarea:focus {
  border: 2px solid var(--basic-title);
  opacity: 1;
}

.feedback-form input:invalid, textarea:invalid {
  border: 2px solid var(--basic-button-hover);
  color: var(--basic-button-hover);
  opacity: 1;
}
